{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/normalize.css">
<link rel="stylesheet" href="static/main_app/css/index.css">

{% endblock %}
{% block title %} Notes {% endblock %}

{% block body %}
<header class="header">

</header>
<div class="nav-main-wrapper">
  <div class="main-button-wrapper">
    <main class="main">
      <div class="main__task">
        {% for note in notes %}
          <div class="task_inner">
          <button class="main__button-done">
          </button>
          <div class="main__text-wrapper">
            <h2 class="main__title">{{ note.title }}</h2>
            <p class="main_description">
              {{ note.describe }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>
    <a href="{% url 'add' %}" class="button-add">ADD NEW TASK</a>
  </div>
  <nav class="nav">
    <button class="nav__button-profile">
      <img src="static\main_app\image\image.png" alt="" class="nav__img-profile">
    </button>
    <div class="nav__nikname">Lorem, ipsum.</div>
    <ul>
      <li class="nav__li"><a class="nav__a" href="">Settings</a></li>
      <li class="nav__li"><a class="nav__a" href="">Folders</a></li>
      <li class="nav__li"><a class="nav__a" href="">Anybutton</a></li>
    </ul>
  </nav>
</div>
{% endblock %}